@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css')
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap')
@import '~bootstrap/dist/css/bootstrap.min.css'
@import './app/VariablesCSS/_variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Lato, Roboto, sans-serif

body
    background-color: $cor-primaria

::selection
    background-color: $cor-destaque
    color: $cor-primaria

    
.font
    font-family: 'Courier New', Courier, monospace
    
.blinking-element
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    font-size: 6rem
    font-weight: bolder
    color: $cor-suporte
    animation: blink 1s infinite
    margin-top: -5px

.highlight-color
    color: $cor-destaque

@keyframes blink 
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1
    